footer.bg-danger.text-white.pt-5.pb-3
  .container
    .row
      // Cột 1: Về Mykingdom
      .col-md-4
        h5 Về Mykingdom
        p Mykingdom là cửa hàng trực tuyến một điểm đến cho các sản phẩm thời trang phong cách và giá cả phải chăng cho nam, nữ và trẻ em. Chúng tôi cam kết cung cấp những sản phẩm thời trang tốt nhất với mức giá tốt nhất.
      // Cột 2: Liên kết nhanh
      .col-md-4
        h5 Liên kết nhanh
        ul.list-unstyled
          li
            a.text-white.text-decoration-none(href="#") Về chúng tôi
          li
            a.text-white.text-decoration-none(href="#") Liên hệ
          li
            a.text-white.text-decoration-none(href="#") Chính sách vận chuyển
          li
            a.text-white.text-decoration-none(href="#") Chính sách đổi trả
      // Cột 3: Kết nối với chúng tôi
      .col-md-4
        h5 Kết nối với chúng tôi
        a.text-white.me-3(href="#")
          i.fab.fa-facebook-square.fa-2x
        a.text-white.me-3(href="#")
          i.fab.fa-instagram-square.fa-2x
        a.text-white.me-3(href="#")
          i.fab.fa-twitter-square.fa-2x
        a.text-white(href="#")
          i.fab.fa-youtube-square.fa-2x
    hr.border-top.border-white.my-4
    p.text-center.mb-0 Bản quyền thuộc về ©2025 Mykingdom.
