
header.bg-danger.text-white.py-3
  .container.d-flex.align-items-center.justify-content-between
    // Logo và tagline
    .logo
      span.fw-bold Mykingdom
      span.ms-1.text-uppercase.small ONLINE SHOPPING
    // Liên kết điều hướng
    ul.nav.mb-0.d-flex
      li.nav-item.me-4
        a.nav-link.text-white(href="") Trang chủ
      li.nav-item.me-4
        a.nav-link.text-white(href="/products") Sản phẩm
      li.nav-item.me-4
        a.nav-link.text-white(href="#") Danh mục sản phẩm
    // Thanh tìm kiếm
    .search-bar.d-flex.align-items-center
      input.form-control.me-2(type="text" placeholder="Tìm kiếm...")
      button.btn.btn-light
        i.fas.fa-search
    // Đăng nhập / Đăng ký
    .auth-links
      a.text-white.me-3(href="#") Đăng nhập
      a.text-white(href="#") Đăng ký
